.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.box_left {
  width: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_right {
  width: 50%;
  padding-left: 2rem;
}
.profile_pic {
  width: 70%;
  position: relative;
}
.profile_pic img {
  width: 100% !important;
  height: fit-content;
  max-width: 190px;
  max-height: 200px;
  position: relative !important;
  border-radius: 100%;
  border: thick solid orange;
}
.profile_content p {
  text-indent: 4rem;
  text-align: justify;
}
